    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About INFORA</h2>
                <p>At INFORA we are working to help provide insightful care for patients suffering from Rhuematoid Arthritis.</p>
                <p>Our technology is easy to use and can provide crucial insights in assisting your current treatments.</p>
                <p>See if INFORA can help.</p>
            </div>
        </div>
    </section>