<div class="container" style="margin-top: 120px">
<h2>MEDICAL DISCLAIMER</h2>
<h3>Terms &amp; Conditions</h3>
<h4>
No advice
</h4>
<p>
	This website contains general information about medical conditions and treatments.  The information is not advice, and should not be treated as such.
</p>

<h4>
Limitation of warranties
</h4>
<p>
The medical information on this website is provided “as is” without any representations or warranties, express or implied.  INFORA makes no representations or warranties in relation to the medical information on this website.  
</p>

<p>
Without prejudice to the generality of the foregoing paragraph, INFORA does not warrant that:

<ul>
<li>the medical information on this website will be constantly available, or available at all; or</li>
<li>the medical information on this website is complete, true, accurate, up-to-date, or non-misleading.</li>
</ul>
</p>

<h4>
Professional assistance
</h4>
<p>
You must not rely on the information on this website as an alternative to medical advice from your doctor or other professional healthcare provider.   
</p>

<p>
If you have any specific questions about any medical matter you should consult your doctor or other professional healthcare provider.
</p>
<p>
If you think you may be suffering from any medical condition you should seek immediate medical attention.  
</p>

<p>
You should never delay seeking medical advice, disregard medical advice, or discontinue medical treatment because of information on this website.
</p>

<h4>
Liability
</h4>
<p>
Nothing in this medical disclaimer will limit any of our liabilities in any way that is not permitted under applicable law, or exclude any of our liabilities that may not be excluded under applicable law.
</p>

<h4>
This medical disclaimer
</h4>
<p>
This document is based on a free Contractology precedent available at www.freenetlaw.com. Contractology specialize in the supply of professional legal templates, such as precedent distributorship terms and conditions, to businesses around the world.
</p>
</div>