    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Get Started</h2>
                    <p>Join INFORA and you'll receive a free information packet along with your new account information. Getting started is simple, and the sooner you join the quicker we can begin to curate your personalized treatment insights.
                    </p>
                    <p>Consult with your RA specialist to see if INFORA can help you manage your inflammation and pain.</p>
                </div>
            </div>
        </div>
    </section>